body {
  background-image: url(/wbt/image/image.png);
  background-size: cover;
  margin: 40px;
}

header {
  background-color: #ceeddf;
  height: 30px;
  padding: 10px;
  padding-top: 16px;
  text-align: center;
  border-radius: 10px;
  font-size: 1.5em;
}
header a {
  text-decoration: none;
  margin: 65px;
  color: #000000;
  font-weight: bold;
}

.exp {
  display: flex;
  justify-content: left;
  box-shadow: 0 4px 12px #ceeddf;
}

div {
  padding-right: 1%;
  margin: 1%;
}

img {
  height: auto;
  width: 300px;
  transition: all 1s;
}
img:hover {
  transform: scale(1.2);
}

.c1 {
  display: flex;
  align-items: center;
}

.c2 {
  font-size: 12px;
  margin-left: 10px;
  border-left: 4px solid #57dcbb;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 12px;
}
.c2 h3 {
  font-size: 3em;
  margin: 0px 0px 0px 0px;
}
.c2 p {
  font-size: 2em;
}

.c2:hover {
  /* background-color: #f0f8ff; */
  color: #000000;
  transform: scale(1.1);
  transition: all 1s;
}

.c2:hover h3 {
  color: #18a8dc;
}

.c2:hover p {
  color: #102f44;
}

p {
  color: #000000;
  display: inline;
}

footer {
  text-align: center;
  margin-top: 40px;
}
footer img {
  height: 30px;
  width: 30px;
  box-shadow: 0 4px 12px #ceeddf;
}
footer a {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0px;
}
footer p {
  margin: 0px;
}
