body {
  background-image: url(/wbt/image/image.png);
  background-size: cover;
  margin: 40px;
}

header {
  background-color: #ceeddf;
  height: 30px;
  padding: 10px;
  padding-top: 16px;
  text-align: center;
  border-radius: 10px;
  font-size: 1.5em;
}
header a {
  text-decoration: none;
  margin: 65px;
  color: #000000;
  font-weight: bold;
}

div {
  padding-right: 1%;
  margin: 1%;
}

.info-box {
  padding-left: 2%;
  margin: 2%;
}
.buttons {
  color: #ffffff;
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

img:hover {
  transform: scale(1.2);
  transition: all 1s;
}

p {
  color: #000000;
  display: block;
  font-size: large;
}

footer {
  text-align: center;
  margin-top: 40px;
}
footer img {
  height: 30px;
  width: 30px;
  box-shadow: 0 4px 12px #ceeddf;
}
footer a {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0px;
}
footer p {
  margin: 0px;
}
